@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fira+Sans:wght@700&family=Francois+One&family=Hammersmith+One&family=Paytone+One&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Coiny&family=Fredoka+One&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Candal&display=swap");

:root {
	--white: #fff;
	--black: #000;
	--body-color: #ccccbb;
	--blue-1: rgba(16, 57, 170, 0.737);
	--blue-2: rgb(59, 98, 206);
	--blue-3: rgba(23, 78, 228, 0.849);
	--blue-4: rgb(51, 86, 180);
	--banner-color: rgba(255, 255, 255, 0.25);
	--button-border: 2px solid rgb(89, 102, 137);
	--button-background: rgba(236, 236, 236, 0.783);
	--hover-border: 2px solid var(--blue-2);
	--github-fill: var(--blue-3);
	--github-color: var(--body-color);
	--github-focus: var(--black);
	--coiny: "Coiny", cursive;
	--candal: "Candal", sans-serif;
	--fira-sans: "Fira Sans", sans-serif;
	--hammersmith: "Hammersmith One", sans-serif;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--body-color);
	font-family: var(--hammersmith);
	line-height: 1;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
	font-size: 40px;
	color: var(--blue-1);
	font-family: var(--coiny);
}

main {
	min-height: 150vh;
	display: grid;
	place-items: center;
}

/* default min-height: 100vh */

#value {
	font-size: 50px;
	font-family: var(--fira-sans);
	color: var(--white);
}

.btn,
#reset,
#increase-full,
#decrease-full {
	width: 130px;
	background: var(--button-background);
	border: var(--button-border);
	color: var(--blue-4);
	padding: 3px 8px 5px;
	display: inline-block;
	transition: var(--transition);
	font-family: var(--candal);
	font-size: 1.25rem;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 6px;
	margin: 0.5rem;
	outline: none;
}

#decrease-short,
#increase-short {
	display: none;
	width: 40px;
	padding: 2px 8px;
}

.btn:active,
#reset:hover,
#reset:focus,
#increase-full:hover,
#increase-short:hover,
#decrease-full:hover,
#decrease-short:hover,
#increase-full:focus,
#increase-short:focus,
#decrease-full:focus,
#decrease-short:focus {
	color: var(--white);
	background: var(--blue-2);
	border: var(--hover-border);
}

.btn:active {
	transform: translateY(4px);
}

.wrapper,
.video-container,
.video-overlay,
.video-container video,
.video-container:after {
	position: absolute;
}

.wrapper {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
}

.video-container {
	top: 0;
	left: 0;
	z-index: -2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	filter: brightness(115%);
}

.video-overlay {
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	padding: 16px 10px 10px;
	text-align: center;
	background: var(--banner-color);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	flex-direction: column;
	text-transform: uppercase;
}

.video-container video {
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 56.25vw;
	min-width: 177.6vh;
	min-height: 100vh;
	transform: translate(-50%, -50%);
}

.video-container:after {
	top: 0;
	left: 0;
	display: block;
	content: "";
	width: 100%;
	height: auto;
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:focus .octo-arm,
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 470px) {
	.github-corner,
	#decrease-full,
	#increase-full {
		display: none;
	}

	#decrease-short,
	#increase-short {
		display: inline-block;
	}

	#reset {
		width: 100px;
	}

	.title {
		font-size: 30px;
	}
}
